<<<<<<< HEAD
<div id="add-products">
	    <h1>Add product</h1>
	    <form action="/products/add" method="POST">
            Product Name: <br /><input type="text" name="name" value="name" required>
            <br/><br/>Category ID: <br />
            
	            <select name="cat_id">
	                {{#categories}}
	                    <option value="{{id}}" name="name">{{name}}</option>
	                {{/categories}}
	            </select>
	      
            <br /><br /><input type="submit">
        </form>
=======
<div id ="container">
	<div id="add-products">
		    <h1>Add product</h1>
		    <form action="/products/add" method="POST">
	            Product Name:
	            
	            
	               <br /><input value="{{name}}" name="name">
	            
	            
	            <br/><br/>Category ID: <br />
	            
		            <select name="cat_id">
		                {{#categories}}
		                    <option value="{{id}}">{{name}}</option>
		                {{/categories}}
		            </select>
		      
	            <br /><br /><input type="submit">
	        </form>
		</div>
>>>>>>> 1e537577b94e568018f4b6da3eefc9ab31d36868
	</div>
</div>