<div id="container">
<table class="table-responsive" id="category_list">
	<table class="table">
		<form>
			<input class="searchBar" id="categoriesSearchBar" type="text" name="categories"></input>
		</form>
			<thead>
				<tr>
					<th data-field="name">Categories Id</th>
					<th data-field="name">Categories Name</th>
				</tr>
			</thead>

			<tbody>
				{{#categories}}
				<tr>
					<td>{{cat_id}}</td>
					<td>{{cat_name}}</td>
				</tr>
				{{/categories}}
			</tbody>
	</table>
</table>		

	<div id="addCategories">
	   		<h1>Add Category</h1>
	    		<form method="POST" action="/categories/add">
		   		Description: <input type="text" name="name" required >
		   		<input type="submit">
	    		</form>
	</div>
	<h1>Category</h1>
	<div class="table-responsive">
	<table class="table">
	   {{#products}}
	   <tr>
	        <td><h2>{{name}}</h2></td>
		    <td><a href="/categories/edit/{{id}}">Edit</a></td>
		    <td><a href="/categories/delete/{{id}}">Delete</a></td>
		</tr>
		{{/products}}
	</div>
	</table>
		{{#empty}}
	   <p>The list is empty.</p>
		{{/empty}}
		
</div>