<div id="container">
    <h1>Products</h1>
	{{#products}}
	    <h2>{{name}}</h2>
		<h2>{{description}}</h2>
		<a href="/addProducts/edit/{{id}}">Edit</a>
		<a href="/addProducts/Delete/{{id}}">Delete</a>
	{{/products}}
	{{#empty}}
		<p>The list is empty</p>
	{{/empty}}
	<div id="add-products">
	    <h1>Add product</h1>
	    <form action="/products/add" method="POST">
            Product Name: <br /><input type="text" name="name">
            <br/><br/>Category ID: <br />
            
	            <select name="cat_id">
	                {{#categories}}
	                    <option value="{{id}}">{{name}}</option>
	                {{/categories}}
	            </select>
	      
            <br /><br /><input type="submit">
        </form>
	</div>
</div>