<div id="container">
    <h1>Products</h1>
    <table>
		{{#products}}
		<tr>
		    <td><h2>{{name}}</h2></td> 
			<td><h2>{{description}}</h2></td>
			<td><a href="/addProducts/edit/{{id}}">Edit</a></td>
			<td><a href="/addProducts/Delete/{{id}}">Delete</a></td>
		</tr>
		{{/products}}
	</table>
	{{#empty}}
		<p>The list is empty</p>
	{{/empty}}
	<div id="add-products">
	    <h1>Add product</h1>
	    <form action="/products/add" method="POST">
            Product Name: <br /><input type="text" name="name">
            <br/><br/>Category ID: <br />
            
	            <select name="cat_id">
	                {{#categories}}
	                    <option value="{{id}}">{{name}}</option>
	                {{/categories}}
	            </select>
	      
            <br /><br /><input type="submit">
        </form>
	</div>
</div>