<div id="container">
	<ul class="people_list">
		<h1>Edit</h1>
<<<<<<< HEAD
{{#products}}

			<form action="/sales/update/{{id}}" method="POST">
				Description: 
				<option>
					<select value = {{id}}>{{name}}</select>
				</option>
				<input type="submit">
			</form>
{{/products}}
=======
			{{#sales}}
			<form method="POST" action="/sales/update/{{id}}" >
				Description: <input type="text" name="name" value="{{id}}" required>
				<input type="submit">
			</form>
			{{/sales}}
>>>>>>> b2027164d9547aa5e23c51cd0967df787fb8fadc
	</ul>
</div>