<DOCTYPE html>
<html lang = "en">
<head>
<title>
edit_users
</title>
<head>
<style> 
 #text:hover { 
                background-color:#9933FF;
            }
            #sa{
                color:#9933FF;       
            }
            #head{
                background-image: url("/header2.png");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 220px;
                width: auto;
                opacity: 0.89;
            }
            body{
                background-image:url("/store1.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            #container{
                background-color:#000000;
                font-family: "Times New Roman", Times, serif;
                color:#FF3399;
                font-size: 25px;
                height:auto;
                width: auto;
                opacity: 0.70;
            }
            button{
                color:#FF0000;
                background-color:#CCFF00;
            }
</style>
</head>
<body>

<div id="container"><h1>Edit Products</h1>

                        {{#data}}

                            <form method="POST" action="/products/update/{{id}}">

                                 <form action="/products/update/{{id}}" method="POST">

                            Product Name: <input type="text" name="name" value="{{name}}" required><br />

                        {{/data}}

                            <br/>Category Name: <select name="cat_id">

                        {{#categories}}

                                    <option value="{{id}}">{{name}}</option>

                        {{/categories}} 
                         
                                    </select><br /><br />

                                <input type="submit">

                            </form>
                </div>

        </body>

</html>