<DOCTYPE html>
<html lang = "en">
<head>
     <link href="/css/style.css" rel="stylesheet">
</head>

	<body>
			<div id="container">
				<ul class="people_list">
					<h1>Edit</h1>
						Description:
						{{#products}} 
						<form action="/sales/update/{{id}}" method="POST">
							
							<option>
								<select value = {{id}}>{{name}}</select>
							</option>
							<input type="submit">
							</form>
			         		{{/products}}
								{{#sales}}
							<form method="POST" action="/sales/update/{{id}}" >
								Description: <input type="text" name="name" value="{{id}}" required>
							<input type="submit">
						</form>
						{{/sales}}
				</ul>
			</div>
	</body>
</html>