<div id="container">
    <h1>Sales</h1>
    <a href="sales/add/{{sales_id}}" class="btn btn-success btn-lg" role="button">Add Sale</a>	
    <table border="2">
    
		
		<thead>
			<th data-field="name">name</th>
			<th data-field="sales_date">Sale date</th>    
		    <th data-field="sales">Sales</th>
		    <th data-field="sales.quantity">Quantity</th>
		    <th data-field="Edit">Edit</th>
		    <th data-field="Delete">Delete</th>
		    
		</thead>
		<tbody>
			{{#sales}}
				<tr>
				    <td><h2>{{name}}</h2></td>
				    <td><h2>{{date}}</h2></td>
					<td><h2>R{{sales}}</h2></td>
					<td><h2>{{Quantity}}</h2></td>
					
					<td><a href="/sales/update/{{id}}">Edit</a></td>
					<td><a href="/sales/delete/{{id}}">Delete</a></td>
				</tr>
			{{/sales}}
		</tbody>

	</table>
	{{#empty}}
		<p>The list is empty</p>
	{{/empty}}

	<!---<div id="add-product">

	    <h1>Add Sale</h1>
	    <form action="/sales/add" method="POST">
	        Date:<input type="date" name="sales_date"><br />
            Product Name:<br /> 
            <select name="prod_id">
	            {{#products}}
	            	<option value="{{id}}">{{name}}</option>
	            {{/products}}
            </select><br />
	        Price:<br /><input type="price" name="price"><br />
	        Quantity:<br /><input type="number" name="quantity"<br />
	      
            <br /><br /><input type="submit">
        </form>
	</div>
</div>-->