<div id="container">
	<h1>Suppliers</h1>
		<div class="table-responsive">
		<table "table">
			{{#suppliers}}
			<tr>
			<td><h2>{{supplier}}</h2></td>
			<td><h2>{{description}}</h2></td>
			<td><a href="/suppliers_edit/{{id}}">Edit</a></td>
			<td><a href="/suppliers/delete/{{id}}">Delete</a></td>
			<td><a href='/suppliers/add/{{supplier}}'>Add</a><td>
			</tr>
			{{/suppliers}}
		</table>
	</div>

{{#empty}}
<p>The list is empty</p>
{{/empty}}

<div id="add-products">
	<h1>Add Supplier</h1>
		<form action="/suppliers/add" method="POST">
			Shop Name: <br /><input type="text" name="name" required>
<!-- <br/><br/>Category ID: <br />
<<select name="cat_id">
{{#products}}
<option value="{{id}}">{{name}}</option>
{{/products}}
</select>-->
<!---<select name="cat_id">
{{#categories}}
<option value="{{id}}">{{name}}</option>
{{/categories}}
</select>-->
			<br /><br /><input type="add">
		</form>
</div>
</div>